#Propiedades de Juan
#Fri Sep 20 10:38:20 CEST 2024
ciudad=Madrid
nombre=Juan
edad=25
#Propiedades de Juan
#Fri Sep 20 10:46:27 CEST 2024
ciudad=Madrid
nombre=Juan
edad=25
#Propiedades de Juan
#Fri Sep 20 10:46:54 CEST 2024
ciudad=Madrid
nombre=Juan
edad=25
#Propiedades de Juan
#Fri Sep 20 10:47:23 CEST 2024
ciudad=Madrid
idioma=Espa\u00F1ol
nombre=Juan
edad=25
pais=Espa\u00F1a
